* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  font-family: 'Roboto';
  min-width: 1000px;
  min-height: 1000px;
  max-width: 2000px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding: 16px;
}

.rightlinks {
  display: flex;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

.header a {
  text-decoration: none;
  color: #E5E7EB;
  margin-left: 18px;
}

.top {
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 72px 16px;
}

.top .container, .top .imagesquare {
    margin: 18px;
    height: 200px;
    width: 400px;
    flex: 0 0 auto;
  }  

.top h1 {
  color: #F9FAF8;
  font-size: 48px;
}

.top p {
  color: #E5E7EB;
  font-size: 18px;
}

.top button {
  background-color: #3882F6;
  color:#F9FAF8;
  margin-top: 12px;
  font-weight: 900;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
}

.top .imagesquare {
  background-color: #91949b;
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
}

.potion img {
  width: 100%;
  border-radius: 13%;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 38px 38px 80px;
}

.information .text {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937
}

.showcase {
  display: flex;
  margin-top: 32px;
}

.potion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 150px;
}

.potion p {
  text-align: center;
}

.picture {
  height: 150px;
  width: 150px;
  border: solid #3882F6;
  border-radius: 15%;
  margin-bottom: 8px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 100px;
  align-items: center;
  justify-content: center;
}

.quote p {
  font-size: 36px;
  font-style:italic;
  color: #1F2937;
  flex: 0 0 auto;
  width: 800px;
  margin-bottom: 12px;
}

#quoter {
  text-align: end;
  font-style:normal;
  font-weight: bolder;
  font-size: 28px; 
}

.bottom {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;

}

.rectangle {
  background:#3882F6;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  border-radius: 8px;
  width: 800px;
  color: #F9FAF8;
}

#call {
  font-weight: bolder;
  font-size: 21px;
}

.rectangle button {
  text-decoration: none;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: bolder;
  border: solid 2px #F9FAF8;
  border-radius: 8px;
  padding: 8px 25px;
  font-size: 16px;
}

.footer {
  display: flex;
  background-color: #1F2937;
  padding: 32px;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: white;

}